<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="../public/css/landing.css">
</head>
<body style="background-image: linear-gradient(to right, #0080ff, #0088ff);">
    <div class="container-header">
        <img src="../public/images/SSTQUESTIONS.png" alt="logo">
        <a href="#" class="txt">Entrar</a>
        <a href="#" class="txt">Cadastre - se</a>
        <a href="#" class="txt">Faça uma Pergunta</a>
    </div>


</body>
</html>