<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="../public/css/landing.css">
</head>
<body style="background-color: #13072e;">
    <header>
        <nav>
            <div class="menu">
                <div class="menu-img">
                    <img src="../public/images/logolanding.png">
                </div>
                <div class="menu-text">
                    <a href="#" class="textmenu">Equipe</a>
                    <a href="/cadastro" class="textmenu">Cadastro</a>
                    <a href="/login" class="textmenu entrar">Entrar</a>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="body1">
        
    </div>
</body>
</html>