<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="../public/css/landing.css">
</head>
<body style="background-color: #13072e;">
    <header>
        <nav>
            <div class="menu">
                <div class="menu-img">
                    <img src="../public/images/logolanding.png">
                </div>
                <div class="menu-text">
                    <a href="#" class="textmenu">Equipe</a>
                    <a href="/cadastro" class="textmenu">Cadastro</a>
                    <a href="/login" class="textmenu entrar">Entrar</a>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="body1">
        <div class="imagembody1">
            <div class="body1-body">
                <div class="primeiroa">
                <a class="tag1" href="#">#SST</a>
                </div>
            <p>A segurança faz parte da esperança de um futuro melhor. Prevenir acidentes é caminhar rumo ao futuro.</p>
                <div class="primeiroa2">
                    <a class="tag2" href="#">Faça uma Pergunta</a>
                </div>
            </div>
            <img src="../public/images/imgbody2.jpg">
            <img src="../public/images/Img2body.jpeg" style="height: 412px; width: 270px;">
        </div>
    </div>
</body>
</html>