<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body style="background-image: linear-gradient(to right,#13072e,#3f2182);">
    
    <div class="container">
        <form class="formLogin">
            <img src="../public/images/logologin.png">
            <h1 style="color: #370466;margin-top: 20px;">Login</h1>

            <div class="input-container">
                <img src="../public/images/iconuser.png" class="icon">
                <input type="text" placeholder="Username">
            </div>

            <div class="input-container">
                <img src="../public/images/iconpassword.png" class="icon">
                <input type="password" placeholder="Password">
            </div>

            <div class="input-footer">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Lembrar de mim</label>
                <a href="#">Esqueceu a senha?</a>
            </div>

            <div class="loginbuttao">
                <input class="btn" type="submit" value="Entrar"></input>
            </div>
           
        </form>
    </div>

</body>
</html>