<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body style="background-color: #13072e;">
    
    <div class="container">
        <form class="formLogin" method="post" action="/login">
            <img src="../public/images/logologin.png">
            <h1 style="color: #370466;margin-top: 30px;font-family: 'Gotham',sans-serif;">Login</h1>

            <div class="input-container">
                <img src="../public/images/iconuser.png" class="icon">
                <input type="email" placeholder="Email" name="email">
            </div>

            <div class="input-container">
                <img src="../public/images/iconpassword.png" class="icon">
                <input type="password" placeholder="Password" name="senha">
            </div>

            <div class="input-footer">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Lembrar de mim</label>
                <a href="#">Esqueceu a senha?</a>
            </div>

            <div class="loginbuttao">
                <input class="btn" type="submit" value="Entrar"></input>
            </div>
            <div class="account">
              <p>Ainda não tem uma conta?<a href="/cadastro">Registre-se</a></p>
            </div>
        </form>

    </div>

    <script>

        const formLogin = document.querySelector('formLogin');
        formLogin.addEventListener('submit', async (event) => {
          event.preventDefault();
          const formData = new FormData(formLogin);
          const response = await fetch('/login', {
            method: 'POST',
            body: formData
          });
          const data = await response.json();
          if (response.ok) {
            alert(data.mensagem);
          } else {
            alert(data.mensagem);
          }
        });


      </script>

</body>
</html>