@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #13072E, #3F2182);
}

.form-image {
    width: 50%;
    display: flex;
    margin-left: 1%;
    align-items: center;
    background-color: linear-gradient(to right, #fff, #3F2182);
    padding: 1rem;
    margin-top: 0.9rem;
}

.form-image img {
    width: 30rem;
}

.form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 8%;
}

.form-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bolder;
    color: #3F2182;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9rem;
}

.input-box input {
    margin: 0.0rem 0;
    padding: 0.8rem 0.05rem;
    border: none;
    border-radius: 40px;
    box-shadow: 1px 1px 3px #000000f0;
    font-size: 0.9rem;   
    width: 160%;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #3F2182;
}

.input-box label,
.gender-title h6 {
    font-size: 0.80rem;
    font-weight: 600;
    color: #3F2182;
}

.input-box input::placeholder {
    color: #000000be;
   justify-items: left;
}

.gender-group {
    display: flex;
    justify-content: space-around;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.40rem;
}

.gender-input label {
    font-size: 0.90rem;
    font-weight: 600;
    color: #3F2182
}

.continue-button button {
    width: 109%;
    margin-top: 1rem;
    border: none;
    background-color: #3F2182;
    padding: 0.62rem;
    border-radius: 150px;
    cursor: pointer;
    padding: 0.2%;
}
button:hover {
    background-color: #4073f5;
}

.continue-button button{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    font-weight: bolder;
    padding-right: 20px;
 

}

a:hover{
    color:#4073f5;
}



















/*@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .form {
        width: 80%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}*/